*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    background-color: #f2f2f2;
    margin: 0;
  }
  .Container {
    max-width: 1230px;
    margin-left: auto;
    margin-right: auto;
    padding-left: 15px;
    padding-right: 15px;
  }
  .Content-wrapper {
    display: grid;
    grid-template-columns: 2fr 1fr;
    column-gap: 30px;
  }
  
